<!doctype html>
<html>
  <head>
    <title>Analytics team</title>
	<link rel="stylesheet" href="/static/style.css">
  </head>
  <body>

<div class="log-form">
  <h2>Display consumer history and products user will buy again</h2>
  <form action="admitsubmit" method="post">
    <input type="text" name="consumer" title="consumer" placeholder="consumer" />
    <button type="submit" class="btn">Submit</button>
  </form>

</div>
{% if tables %}
<div class=page>
  <h3>Results:</h3>
  {% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }}
  {% endfor %}
</div>
{% endif %}

  </body>
</html>